body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

h2 {
    text-align: center;
}

form {
    width: 350px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 7px;
    margin-top: 5px;
}

small {
    color: red;
}

button {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    background-color: #2c3e50;
    color: white;
    border: none;
}

#strength {
    font-size: 14px;
    margin-top: 5px;
}
