
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px;
}

.tagline {
    font-size: 14px;
    color: #dcdcdc;
}

nav {
    background-color: #34495e;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

.container {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.content {
    flex: 3;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.highlight {
    color: #43f23d;
    font-weight: bold;
}

aside {
    flex: 1;
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 5px;
}

.comments {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
}

#contact {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
}

#contact h2 {
    color: #2c3e50;
}

footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 10px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}
