body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

h2 {
    margin-top: 30px;
}

input, button {
    padding: 8px;
    margin: 5px;
}

button {
    background-color: #2c3e50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #1a252f;
}

#result {
    margin-top: 20px;
    background-color: white;
    padding: 15px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}
