body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

input, button {
    padding: 8px;
    margin: 5px;
}

button {
    background-color: #2c3e50;
    color: white;
    border: none;
}

ul {
    list-style: none;
    padding: 0;
    width: 300px;
    margin: auto;
}

li {
    background-color: white;
    padding: 10px;
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
}
